.search--container {
    position: relative;
}

.search-bar--container {
    display: flex;
    width: 100%;
    background: rgb(230, 230, 230);
    box-shadow: 0px 6px 4.2px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 3rem;
}

.search-bar--input {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    background: rgb(230, 230, 230);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.search-bar--clear {
    width: auto;
    padding: 0.5rem 1.5rem 0.5rem 1.2rem;
    border-left: 1px solid grey;
    font-weight: 700;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    color: black;

    font-size: 1rem;
}

.search-bar--clear:hover {
    background-color: rgba(210, 210, 210, 1);
}

.search-suggestions--container {
    width: 100%;
    top: 3rem;
    opacity: 100%;
    position: absolute;
    overflow: hidden;
    background: rgba(230, 230, 230, 1);
    box-shadow: 0px 6px 4.2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    z-index: 20;
}

.search-suggestions--item {
    color: black;
    margin: 0.4rem 0;
}

.suggestions-item--container {
    position: relative;
    padding: 0.6rem 1rem;
    background: rgba(230, 230, 230, 1);
    border-bottom: 1px solid grey;
}

.suggestions-item--container:hover {
    background-color: rgba(210, 210, 210, 1);
}

.suggestions-item--focused {
    background-color: rgba(200, 200, 200, 1);
}

.suggestions-item--title {
    color: black;
    margin: 0;
}

@media (min-width: 500px) {
    .search-bar--input {
        font-size: 1.3rem;
    }

    .search-suggestions--container {
        top: 3.3rem;
    }
}

@media (min-width: 1000px) {
    .search-bar--input {
        font-size: 1.6rem;
    }

    .search-suggestions--container {
        top: 3.6rem;
    }
}
